mock_automations/blinds_and_windows_mock_automation.json
[
    {
        "id": "a304e950f9d14c80",
        "type": "http request",
        "z": "7ef85877f7233213",
        "name": "Get Weather Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.weatherapi.com/v1/astronomy.json?key=5b3f47983ab847688e2211049241912&q=Cracow&aqi=no",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 230,
        "y": 280,
        "wires": [
            [
                "5b2872a86edc0ab3",
                "375f696088bed960"
            ]
        ]
    },
    {
        "id": "5b2872a86edc0ab3",
        "type": "function",
        "z": "7ef85877f7233213",
        "name": "Check Sunset",
        "func": "const sunset = msg.payload.astronomy.astro.sunset; // Extract sunset\nconst isSunUp = msg.payload.astronomy.astro.is_sun_up; // Extract is_sun_up\n\n// Parse sunset time into a Date object\nconst sunsetParts = sunset.split(/[: ]/); // Split \"07:36 PM\" into [07, 36, PM]\nconst sunsetHour = parseInt(sunsetParts[0], 10);\nconst sunsetMinute = parseInt(sunsetParts[1], 10);\nconst sunsetPeriod = sunsetParts[2];\n\n// Convert hour to 24-hour format\nlet sunset24Hour = sunsetHour;\nif (sunsetPeriod === \"PM\" && sunsetHour !== 12) {\n    sunset24Hour += 12;\n}\nif (sunsetPeriod === \"AM\" && sunsetHour === 12) {\n    sunset24Hour = 0;\n}\n\nconst currentTime = new Date(); // Current time\nconst sunsetTime = new Date(currentTime); // Create Date object for today's sunset\nsunsetTime.setHours(sunset24Hour);\nsunsetTime.setMinutes(sunsetMinute);\nsunsetTime.setSeconds(0);\n\n// Check if current time is past sunset or if the sun is down\nif (currentTime > sunsetTime || isSunUp === 0) {\n    // Action to close windows and blinds\n    msg.payload = {\n        action: \"close\",\n        devices: [\"windows\", \"blinds\"],\n        message: \"Sunset detected. Closing windows and blinds.\"\n    };\n    return [msg, null]; // Pass to the first output\n} else {\n    // No action needed\n    msg.payload = {\n        action: \"none\",\n        message: \"Sun is still up. No action taken.\"\n    };\n    return [null, msg]; // Pass to the second output\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "b719e4d7cac76677"
            ],
            [
                "14c75bcd1b4e2b89"
            ]
        ]
    },
    {
        "id": "b719e4d7cac76677",
        "type": "debug",
        "z": "7ef85877f7233213",
        "name": "Control Devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 230,
        "wires": []
    },
    {
        "id": "14c75bcd1b4e2b89",
        "type": "debug",
        "z": "7ef85877f7233213",
        "name": "No Action",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 330,
        "wires": []
    },
    {
        "id": "8a2ba676cf3cb325",
        "type": "inject",
        "z": "7ef85877f7233213",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "a304e950f9d14c80"
            ]
        ]
    },
    {
        "id": "375f696088bed960",
        "type": "debug",
        "z": "7ef85877f7233213",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 160,
        "wires": []
    }
]
